*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    color: #fff;
    background: linear-gradient(#1c1917 50% ,#ffb929 50%);
    min-height: 100vh;
    min-width: 100vw;
    font-family: cursive;

}
.container{
    width: 70%;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50% ,-50%);
background-color: #1e2934;
padding: 20px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.getSearch{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 10px;

}
    @media(max-width:767px){
        .getSearch{
            display: flex;
            flex-direction: column;



        }
        .getSearch button, input{
            width: 100%;
        }
    }
.getSearch input{
    padding: 10px;
    outline: 0;
    border:  1px solid rgba(64, 72, 74, 0.533);
    background-color: transparent;
    color: #fff;
    border-radius: 8px;

    

}
.getSearch input::placeholder{
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    font-family: cursive;
}
.getSearch input:focus{
    border:  2px solid #fff;

}
.getSearch button{
    outline: none;
background-color: #ffb929;
color: #000;
text-transform: capitalize;
font-size: 1.1em;
border-radius: 7px;
cursor: pointer;


}
.getSearch button:focus{
    transform: scale(.94);
}
#result{
    color: #fff;
}

.info{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: 1.2em;
}

.poster{
    width: 100%;
    height: 130px;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin: 0.6em 0 0.9em 0;
}

.rating img{
    width: 1.2em;
}

.rating h4{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: #a0a0a0;
    margin: 10px;
    font-weight: 300;
}

.genre{
    display: flex;
    justify-content: space-around;
}

.genre div{
    border: 1px solid #a0a0a0;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}

h3{
    font-weight: 500;
    margin-top: 10px;
}

p{
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.3em;
    text-align: justify;
    color: #a0a0a0;
}

.msg{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container{
        font-size: 14px;
    }
    .poster{
        margin: auto;
        width: auto;
        max-height: 10.8em;
    }
}
.layer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: .8s;
}
.content{
    padding: 20px;
    width: 50%;
    left: 27%;
    top: 40%;
    position: relative;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 10px;


}
.content button{
    outline: 0;
    border: 0;
    position: absolute;
    top: 2px;
    font-size: 23px;
    cursor: pointer;

}
.layer.show{
    transition: .7s;
    display: block;
    transform: scale(1);
    opacity: 1;
}